{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
  {{ super() }}
  <div class="login-container">
    <h1>Entrar</h1>
    <form method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
        {% for err in form.username.errors %} <br>
        <small style="color:red;">{{ err }}</small>
        {% endfor %}
      </p>
      <p>
        {{ form.password.label }}<br>
        {{ form.password() }} {% for err in form.password.errors %} <br>
        <small style="color:red;">{{ err }}</small> {% endfor %}
      </p>
      <p>{{ form.submit() }}</p>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul style="color:red; padding: 0;">
            {% for category, msg in messages %}
              <li>{{ msg }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </form>

    <p style="text-align:center;">Ainda não tem conta?
      <a href="{{ url_for('auth.signup') }}">Registrar</a>
    </p>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
