{% extends "base.html" %}
{% block title %}Criar Carro{% endblock %}
{% block content %}
  <h1>Criar Novo Carro</h1>
  <form method="post">
    {{ form.hidden_tag() }}
    {% for field in form if field.type != 'CSRFToken' and field.type != 'SubmitField' %}
      <p>
        {{ field.label }}<br>
        {{ field() }}
        {% for err in field.errors %}
          <br><small style="color:red;">{{ err }}</small>
        {% endfor %}
      </p>
    {% endfor %}
    <p>{{ form.submit() }}</p>
  </form>
  <p><a href="{{ url_for('cars.list_cars') }}">← Voltar à lista</a></p>
{% endblock %}
